<!DOCTYPE html>
<html>
	<head>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();
           for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
           k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(91058504, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/91058504" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

		<title>Suldin</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="{{ url_for('static', filename="/css/bootstrap.min.css") }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/ionicons.min.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/font-awesome.min.css') }}"/>
	    <link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.css') }}"/>
	    <link rel="stylesheet" href="{{ url_for('static', filename='/css/custom.css') }}"/>

        <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

	</head>

	<body>



		<div id="wrapper">
			<div id="overlay-1">
				<section id= "navigation">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  					<div class="container-fluid">
	    					<div class="navbar-header">
	      						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        		<span class="ion-navicon"></span>
					      		</button>
					      		<a class="navbar-brand" href="#">Suldin Vyacheslav</a>
					    	</div>
	    					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      					<ul class="nav navbar-nav navbar-right" >
		      						<li><a id="nbitem" href="#about">About Me</a></li>
		      						<li><a id="nbitem" href="#my_skills">Skills</a></li>
		        					<li><a id="nbitem" href="#portfolio">Portfolio</a></li>
		        					<li><a id="nbitem" href="#testimonial">Testimonials</a></li>
		        					<li><a id="nbitem" href="#contact">Contact us</a></li>
							    </ul>
	    					</div>	<!-- collapse navbar-collapse -->
	  					</div>	<!-- container-fluid -->
					</nav>	<!-- navbar -->
				</section>	<!-- #navigation -->
				<section id="starting">
					<div class="starting-text">
                        <h1 style="color: #FACD02" class="rene">Greetings! =) I'm Slava</h1>
                        <h1 style="color: #0181ae; font-size: 40px" class="rene">Not very far from</h1>
						<h1 class="rene">Software engineer</h1>

					</div>
				</section>
				<div id="bottom" class="bottom text-center">
			        <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
			    </div>
			</div><!-- overlay-1 -->
		</div>	<!-- wrapper -->


		<!-- About Me -->

		<section class="section" style="background: url(/static/img/peakpx1.jpg);" id="about">
			<div class="container">
				<div  class="row text-center" id="heading">
					<div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
						<h3>About Me</h3>

	                	<hr class="full">
	                	<br/>
					</div>
				</div>	<!-- row -->
				<div class="about-us-text">
					<div class="row">
                        <img style="float: right; border-radius: 40px; background: #01bdda; border:3px solid #FACD02 " src="/static/img/me.png" width="330" height="440"  class="rounded float-right" alt="...">

                         <p>
                            <span class="other">Name</span>
                            <span class="gradient-text">Suldin Vyacheslove</span>
                        </p>

                        <p>
                            <span class="other">Age: </span>
                            <span class="gradient-text">19 years old</span>
                        </p>
                        <p>
                            <span class="other">Hometown: </span>
                            <span class="gradient-text">Murmansk</span>
                        </p>
                        <p>
                            <span class="other">Current town: </span>
                            <span class="gradient-text">Saint-Petersburg</span>
                        </p>
                        <p>
                            <span class="other">Education:</span>
                            <span class="gradient-text">SPbU SE under-graduate (2nd) </span>
                        </p>
                        <p>
                            <span class="other">E-mail: </span>
                            <span class="gradient-text">suldin_vyacheslav.03@mail.ru</span>
                        </p>
                        <p>
                            <span class="other">Mobile num: </span>
                            <span class="gradient-text">+7 906 289 11 44</span>
                        </p>

					</div>
				</div>	<!-- row -->

				<div class="row main_content">
					<div class="col-md-4 wow animated zoomIn" data-wow-delay="0.1s">
						<figure>
							<img class="pro img-responsive center-block" src="/static/img/school.png">
						</figure>
						<h5 class="text-center">A proud graduate of Gymnasium 6</h5>

					</div>	<!-- col-md-4 -->

					<div class="col-md-4 wow animated zoomIn" data-wow-delay="0.1s">
						<figure>
							<img class="pro img-responsive center-block" src="/static/img/univer.png">
						</figure>
						<h5 class="text-center">Mat-Mech student</h5>

					</div>	<!-- col-md-4 -->

					<div class="col-md-4 wow animated zoomIn" data-wow-delay="0.1s">
						<figure>
							<img class="pro img-responsive center-block" src="/static/img/job.png">
						</figure>
						<h5 class="text-center">Currently jobless</h5>

					</div>	<!-- col-md-4 -->
				</div><!-- row main_content -->
			</div>	<!-- container -->
		</section>	<!-- About Me -->

		<!-- Our service -->
		<section class="section" style="background: url(/static/img/peakpx.jpg);" id="my_skills">
			<div class="container">
				<div class="row text-center" id= "heading">
	        		<div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id= "heading-text">
	        			<h3>My skills</h3>
	                	<p>disciplines studied</p>
	                	<hr class= "full">
	                	<br/>
	        		</div>
		        </div>
			    <div class="main_content">
				    <div class="services">
			        	<div class="row">
			        		<div class="col-sm-4 service">
                                <div class="about-service">
			        				<h3 class="text-center">Applications</h3>
                                    <img src="/static/img/C++.png" height="80" width="80">
			        				<img src="/static/img/C.svg" height="80" width="70">
                                    <img src="/static/img/C-Sharp.png" height="80" width="80">
			        			</div>
			        		</div>	<!-- col-sm-4 -->
			        			<!-- col-sm-4 -->
			        		<div class="col-sm-4 service">

			        			<div class="about-service">
			        				<h3 class="text-center">Web</h3>
			        				<p class="text-center">
                                        <img src="/static/img/HTML5.png" height="90" width="80">
                                        <img src="/static/img/CSS3.png" height="90" width="70">
                                        <img src="/static/img/Python.png" height="70" width="70">
                                        <img src="/static/img/Bootstrap.png" height="70" width="90">
			        				</p>
			        			</div>
			        		</div>
			        		<div class="col-sm-4 service">
			        			<div class="about-service">
			        				<h3 class="text-center">Functional</h3>
			        				<p class="text-center">
			        					<img src="/static/img/Haskell.png" height="70" width="70">
                                        <img src="/static/img/OCaml.png" height="70" width="70">
			        				</p>
			        			</div>
			        		</div> <!-- col-sm-4 -->
			        	</div>	<!-- row -->
			        	<div class="row">
			        		<div class="col-sm-4 service">
			        			<div class="about-service">
			        				<h3 class="text-center">Game Development</h3>
			        				<p class="text-center">
			        					<img src="/static/img/Unity.png" height="70" width="200">
			        				</p>
			        			</div>
			        		</div>	<!-- col-sm-4 -->
			        		<div class="col-sm-4 service">
			        			<div class="about-service">
			        				<h3 class="text-center">Hobbies</h3>
			        				<p class="text-center">
			        					<img src="/static/img/PP.png" height="70" width="70">
                                        <img src="/static/img/92-512.png" height="70" width="70">
			        				</p>
			        			</div>
			        		</div>	<!-- col-sm-4 -->
                            <div class="col-sm-4 service">
			        			<div class="about-service">
			        				<h3 class="text-center">Languages</h3>
			        				<p class="text-center">
			        					<img src="/static/img/RU.png" height="70" width="100">
                                        <img src="/static/img/EK.png" height="70" width="100">
			        				</p>
			        			</div>
			        		</div>	<!-- col-sm-4 -->
			        	</div>	<!-- row -->
					</div>	<!-- services -->
				</div>	<!-- main_content -->
			</div>	<!-- container -->
		</section>	<!-- my_skills -->


		<!-- Portfolio -->
	    <section class="section" style="background: url(/static/img/peakpx1.jpg);" id="portfolio">
	    	<div class="container">

	    		<div class="row text-center" id="heading">
	    			<div class= "bg-image">
		    			<div class= "col-md-6 col-md-offset-3 wow animated zoomInDown" id= "heading-text">
		        			<h3>My projects</h3>
		                	<hr class= "full">
		                	<br/>
		        		</div>
		        	</div>
	    		</div>

		    	<div class= "row post">

		    		<div class= "main_content">
		    			<div class= "post-thumbnail col-md-5">
		    				<div class= "frame">
		    					<div class="post-format">
		    						<span class="icon-picture">
		    							<i class= "fa fa-laptop"></i>
		    						</span>
		    					</div>
		    					<a ><img style="border:5px solid #FACD02; border-radius: 20px" class= "img-responsive" src="/static/img/img.png" alt=""/></a>
		    				</div>
		    				<img class="hidden-xs post-shadow" src="/static/img/post-shadow.png" alt=""/>
		    			</div>
		    			<div class= "post-excerpt col-md-7">
		    				<h2 class="title"><a class="pjname" href="https://github.com/SuldinVyacheslav/StudyRep/tree/master/Geometry%20Project"> GEOMETRY PROJECTION CALCULATION</a></h2>
		    				<div class="line-dotted"></div>
		    				<p>
                                According to the given sufficient conditions, it is necessary to construct a projection of the figure
		    				</p>

		    			</div>
		    		</div>
		    	</div>

                <div class= "row post">

		    		<div class= "main_content">
		    			<div class= "post-thumbnail col-md-5">
		    				<div class= "frame">
		    					<div class="post-format">
		    						<span class="icon-picture">
		    							<i class= "fa fa-laptop"></i>
		    						</span>
		    					</div>
		    					<a ><img style="border:5px solid #FACD02; border-radius: 20px" class= "img-responsive" src="/static/img/img_3.png" alt=""/></a>
		    				</div>
		    				<img class="hidden-xs post-shadow" src="/static/img/post-shadow.png" alt=""/>
		    			</div>
		    			<div class= "post-excerpt col-md-7">
		    				<h2 class="title"><a class="pjname" href="https://github.com/SuldinVyacheslav/educational-practice"> MOLECULAR DYNAMICS</a></h2>
		    				<div class="line-dotted"></div>
		    				<p>
                                My teaching practice. The task is to model a system of molecules and perform the necessary calculations on it.
		    				</p>

		    			</div>
		    		</div>
		    	</div>

                <div class= "row post">

		    		<div class= "main_content">
		    			<div class= "post-thumbnail col-md-5">
		    				<div class= "frame">
		    					<div class="post-format">
		    						<span class="icon-picture">
		    							<i class= "fa fa-laptop"></i>
		    						</span>
		    					</div>
		    					<a ><img style="border:5px solid #FACD02; border-radius: 20px" class= "img-responsive" src="/static/img/img_2.png" class= "img-responsive" src="/static/img/design1.png" alt=""/></a>
		    				</div>
		    				<img class="hidden-xs post-shadow" src="/static/img/post-shadow.png" alt=""/>
		    			</div>
		    			<div class= "post-excerpt col-md-7">
		    				<h2 class="title"><a class="pjname" href="https://github.com/Stanislav-Sartasov/spsu-mm-se-programming/tree/main/Suldin_Vyacheslav/SecondTerm/Task1Folder"> IMAGE FILTER APPLICATION</a></h2>
		    				<div class="line-dotted"></div>
		    				<p>
                                An application that allows you to apply filters to images. Includes most basic filters.
		    				</p>

		    			</div>
		    		</div>
		    	</div>

                <div class= "row post">

		    		<div class= "main_content">
		    			<div class= "post-thumbnail col-md-5">
		    				<div class= "frame">
		    					<div class="post-format">
		    						<span class="icon-picture">
		    							<i class= "fa fa-laptop"></i>
		    						</span>
		    					</div>
		    					<a ><img style="border:5px solid #FACD02; border-radius: 20px" class= "img-responsive" src="/static/img/img_1.png" class= "img-responsive" src="/static/img/design1.png" alt=""/></a>
		    				</div>
		    				<img class="hidden-xs post-shadow" src="/static/img/post-shadow.png" alt=""/>
		    			</div>
		    			<div class= "post-excerpt col-md-7">
		    				<h2 class="title"><a class="pjname" href="https://github.com/SuldinVyacheslav/ProfileSite"> MY OWN PROFILE WEB SITE</a></h2>
		    				<div class="line-dotted"></div>
		    				<p>
                                My first site. Includes a description about me, allows you to leave comments, and I tried to make it beautiful =)
		    				</p>

		    			</div>
		    		</div>
		    	</div>


    		</div>	<!-- container -->
	    </section>	<!-- blog -->

		<!-- Clients -->



	    <section class="section" style="background: url(/static/img/peakpx2.jpg);" id= "testimonial">
	    	<div class= "container">

	    		<div class= "row text-center" id= "heading">
	    			<div class= "bg-image col-md-12">
	    				<div class= "col-md-6 col-md-offset-3 wow animated zoomInDown" id= "heading-text">
		        			<h3>Guest book</h3>
		                	<p>Don't forget about leaving a review!</p>
		                	<hr class= "full">
		                	<br/>
		        		</div>
	    			</div>
	    		</div>

                <div class="container">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner" >
                            {% for x in review %}
                                {% if x.id == 1 %}
                                <div class="item active">
                                {% else %}
                                <div class="item">
                                {% endif %}
                                    <div class= "row">
                                        <div class= "col-md-12">
                                            <p class= "client-comment text-center">
                                                {{ x.review }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class= "row text-center" >
                                        <p  class= "client-name text-center"> {{ "> " + x.name }}  --</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="fa fa-chevron-left fa-lg" style="margin-left:-200px "></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="fa fa-chevron-right fa-lg" style="margin-right:-200px"></span>
                        </a>
                        </div>
                    </div>
                </div>
	    	</div>
	    </section>	<!-- clients -->

		<!-- contact -->
	    <section  style="background: url(/static/img/peakpx.jpg);" id= "contact">
	    	<div class= "container">

				<div class= "row text-center main_content">
					<div class= "col-md-6 col-md-offset-3 text-center">
						<form method="post" action="{{ url_for('hello_world') }}">
							<div class= "form">
								<div class="input-group margin-bottom-sm">
	  								<span class="input-group-addon">
	  								</span>
								 	<input style="border-radius: 20px" class="form-control" name="name" type="text" placeholder="Name" required>
								</div>


							</div>
							<div class="input-group margin-bottom-sm">
									<span class="input-group-addon">
									</span>
								<textarea style="border-radius: 20px" class="form-control" name="review"  rows="6" type= "text" placeholder="Your Message" required></textarea>
							</div>

							<input style="border-radius: 20px; width: 300px; height: 80px" class="btn btn-primary send" type="submit" value="Send Message">

						</form>
					</div>
				</div>
				<div class= "row">
					<div class= "col-md-6 col-md-offset-3 text-center">
						<ul class="socials-icons">
							<li>
								<a href="https://t.me/SuldinVyacheslav" data-toggle="tooltip" title="My telegram" class="facebook"><i class="fa fa-paper-plane"></i></a>
							</li>
							<li>
								<a href="https://vk.com/umenyanetproblemkromemoyeyboshki" data-toggle="tooltip" title="My VK" class="twitter"><i class="fa fa-vk"></i></a>
							</li>
							<li>
								<a href="mailto:suldin_slava.03@mail.ru" data-toggle="tooltip" title="My E-mail" class="google-plus"><i class="fa fa-envelope"></i></a>
							</li>

						</ul>
					</div>
				</div>
			</div>
	    </section>	<!-- contacts -->



		<!-- footer -->
		<section id= "footer" class= "main-footer">
			<div class= "row">
				<div class= "copyright text-center">
					<p> © 2022 Designed and Developed by Suldin Vyacheslav</p>
				</div>
			</div>
		</section><!-- footer -->

		<!-- js -->
		<script>
			$(document).ready(function() {
  				$("#client-speech").owlCarousel({
  					autoPlay: 3000,
      				navigation : false, // Show next and prev buttons
      				slideSpeed : 700,
      				paginationSpeed : 1000,
      				singleItem:true
  				});
			});
		</script>
		<script>
 			new WOW().init();
		</script>
		<script>
			$( function() {
				  // init Isotope
			  	var $container = $('.isotope').isotope
			  	({
				    itemSelector: '.element-item',
				    layoutMode: 'fitRows'
			  	});


  				// bind filter button click
  				$('#filters').on( 'click', 'button', function()
  				{
				    var filterValue = $( this ).attr('data-filter');
				    // use filterFn if matches value
				    $container.isotope({ filter: filterValue });
				 });

			  // change is-checked class on buttons
			  	$('.button-group').each( function( i, buttonGroup )
			  	{
			    	var $buttonGroup = $( buttonGroup );
			    	$buttonGroup.on( 'click', 'button', function()
			    	{
			      		$buttonGroup.find('.is-checked').removeClass('is-checked');
			      		$( this ).addClass('is-checked');
			    	});
			  	});

			});
		</script>
	</body>
</html>
